header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed gray;
}

header img.strapline {
    height: auto;
    width: 20vw;
    margin: 0 5vw;
}

@media screen and (max-width: 1180px) {
    header img.logo {
        width: 45vw;
    }
    header img.strapline {
        width: auto;
        height: 5vw;
    }
}

@media screen and (max-width: 600px) {
    header img.logo {
        height: 10vh;
    }
    header img.strapline {
        height: 5vh;
    }
}