section.forms {
    position: relative;
    padding: 5vh 10vw;
}
section.forms::before {    
    content: "";
    background-image: url("../../public/watermark.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
    z-index: -1;
}